.main-home-area {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 80px;
    margin-bottom: 2rem;
    background-color: #0e1924;
}

.overview-desp h1 {
    color: white;
}

.overview-desp p {
    color: #ffffffb3;
    font-family: 'Oswald', sans-serif;
    font-size: 11px;
}

.overview-desp button {
    margin-top: 13px;
    width: 69px;
    height: 30px;
    border: 2px solid #a08c8c;
    border-radius: 4px;
    margin-right: 6px;
    font-family: 'Bebas Neue', cursive;
    cursor: pointer;

}

.overview-desp button a {
    color: white;
    text-decoration: none;
}

.myname {
    color: #f5b82a;
}