.imgcontainer {
    display: flex;
    justify-content: space-evenly;
    background-color: #0e1924;
}

.img-desp {
    text-align: center;
}

.img-desp img {
    width: 9.7rem;
}

.img-desp p {
    font-size: 42px;
    font-family: 'Bebas Neue';
    height: 39px;
    color: white;
}

.img-desp h1 {
    color: #f5b82a;
    font-family: 'Oswald', sans-serif;
}